<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>

<body class="gray-bg">
	<div class="ui-layout-center">
		<div class="container-div">
			<div class="row">
				<div class="col-sm-12 search-collapse">
					<form id="user-form">
						<input type="hidden" id="deptId" name="deptId">
		                <input type="hidden" id="parentId" name="parentId">
						<div class="select-list">
							<ul>
								<li>
									预警值：<input type="text" name="loginName"/>
								</li>
								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;生效</a>
								</li>

								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="openSocket()"><i class="fa fa-search"></i>&nbsp;开启</a>
								</li>
							</ul>
						</div>
					</form>
				</div>
		        
		        <div class="col-sm-12 select-table table-striped">
				    <table id="bootstrap-table"></table>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<script th:inline="javascript">

        var url=[[${url}]];

		$(function() {
			var panehHidden = false;
			if ($(this).width() < 769) {
				panehHidden = true;
			}
			$('body').layout({ initClosed: panehHidden, west__size: 185 });
		    queryUserList();
            openSocket();
		});

		function queryUserList() {
		    var options = {
		        url: url + "/list",
                pagination: false,
                showFooter: true,
                //pageList: [100, 250, 500],
		        modalName: "股票",
		        columns: [
		        {
		            field: 'sname',
		            title: '股票'
		        },
				{
					field: 'scode',
					title: '股票代码'
                },
		        {
		            field: 'shareSZ',
		            title: '昨天持有数值',
					sortable: true,
					formatter: function (value, row, index) {
						if (Math.abs(value) > 100000000) {
							return (value / 100000000).toFixed(2) + '亿'
						} else if (Math.abs(value) > 10000) {
							return (value / 10000).toFixed(2) + '万'
						} else {
							return value.toFixed(2)
						}
						return value;
					}
		        },
		        {
		            field: 'shareHold',
		            title: '现在持有数值',
					sortable: true,
					formatter: function (value, row, index) {
						if (Math.abs(value) > 100000000) {
							return (value / 100000000).toFixed(2) + '亿'
						} else if (Math.abs(value) > 10000) {
							return (value / 10000).toFixed(2) + '万'
						} else {
							return value.toFixed(2)
						}
						return value;
					}
		        },
		        {
		            field: 'newPrice',
		            title: '资金流入/流出',
                    sortable: true,
					formatter: function (value, row, index) {
						if (Math.abs(value) > 100000000) {
							return (value / 100000000).toFixed(2) + '亿'
						} else if (Math.abs(value) > 10000) {
							return (value / 10000).toFixed(2) + '万'
						} else {
							return value.toFixed(2)
						}
						return value;
					}
		        }]
		    };
		    $.table.init(options);
		}

        var socket;
        function openSocket() {
            if(typeof(WebSocket) == "undefined") {
                console.log("您的浏览器不支持WebSocket");
            }else{
                console.log("您的浏览器支持WebSocket");
                //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
                //var userId = document.getElementById('userId').value;
                var socketUrl="ws://127.0.0.1:8080/webSocket/"+10;
                console.log(socketUrl);
                if(socket!=null){
                    socket.close();
                    socket=null;
                }
                socket = new WebSocket(socketUrl);
                //打开事件
                socket.onopen = function() {
                    console.log("websocket已打开");
                    //socket.send("这是来自客户端的消息" + location.href + new Date());
                };
                //获得消息事件
                socket.onmessage = function(msg) {
                    var serverMsg = "收到服务端信息：" + msg.data;
                    console.log(serverMsg);
                    if("suc"==msg.data){
						queryUserList();
					}
                    //发现消息进入    开始处理前端触发逻辑
                };
                //关闭事件
                socket.onclose = function() {
                    console.log("websocket已关闭");
                };
                //发生了错误事件
                socket.onerror = function() {
                    console.log("websocket发生了错误");
                }
            }
        }
        function sendMessage() {
            if(typeof(WebSocket) == "undefined") {
                console.log("您的浏览器不支持WebSocket");
            }else {
                // console.log("您的浏览器支持WebSocket");
                var toUserId = document.getElementById('toUserId').value;
                var contentText = document.getElementById('contentText').value;
                var msg = '{"toUserId":"'+toUserId+'","contentText":"'+contentText+'"}';
                console.log(msg);
                socket.send(msg);
            }
        }

	</script>
</body>
</html>